In [74]:
import pandas as pd
import numpy as np
import csv
import itertools

In [75]:
#df = pd.read_csv('C:/Users/Juan/00 REFEPS/Data_Wrangling/df_limpios/9-07-2021_df_matriculas_limpio.csv',
#                                 encoding = 'latin')

In [76]:
fecha = pd.to_datetime('30/06/2020')

In [77]:
path_1 = 'df_activos_anios2011-2022.csv'

In [78]:
path_2 = 'df_sin_fallecidos_al2020.csv'

In [79]:
df_activos = pd.read_csv(path_1, encoding = 'latin', index_col = 0)

In [80]:
df_activos[df_activos['enf_max_grado'].notnull()]

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_NACIMIENTO,FECHA_MATRICULA,prof_adjudicada,ID_PROFESION_REFERENCIA,enf_max_grado,prov_adjudicada,SEXO,...,activo_2011,activo_2012,activo_2013,activo_2014,activo_2015,activo_2016,activo_2017,activo_2018,activo_2019,activo_2020
2674,10003001,21246702,21367776,1963-05-25,1982-04-30,15.0,32,15.0,2.0,M,...,True,True,True,True,True,True,True,True,True,True
2675,10003001,21282129,21418030,1963-05-25,1986-06-11,15.0,15,15.0,2.0,M,...,True,True,True,True,True,True,True,True,True,True
2676,10003001,21641197,21937877,1963-05-25,1996-10-28,15.0,1,15.0,2.0,M,...,True,True,True,True,True,True,True,True,True,True
3277,10003563,21158969,21635204,1982-01-04,2007-06-04,15.0,35,15.0,1.0,F,...,True,True,True,True,True,True,True,True,True,True
3278,10003563,21428128,21635203,1982-01-04,2003-10-01,15.0,15,15.0,1.0,F,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444750,82000249,21623885,21913962,1993-09-26,2018-11-29,15.0,15,15.0,2.0,F,...,False,False,False,False,False,False,False,False,True,True
1444753,82000252,21624018,21914124,1989-10-15,2020-05-19,37.0,37,37.0,21.0,F,...,False,False,False,False,False,False,False,False,False,True
1444754,82000253,21624249,22041720,1988-01-05,2018-01-25,15.0,32,15.0,2.0,F,...,False,False,False,False,False,False,False,True,True,True
1444755,82000253,21624249,21914376,1988-01-05,2018-01-24,15.0,32,15.0,2.0,F,...,False,False,False,False,False,False,False,True,True,True
1444776,82000734,21679116,21994573,1965-07-12,2019-10-07,15.0,15,15.0,2.0,F,...,False,False,False,False,False,False,False,False,False,True

# Máximo grado enfermería

In [81]:
df = pd.read_csv('df_sin_fallecidos_al2020.csv', encoding = 'latin')

In [82]:
df

,Unnamed: 0,ID_PROFESIONAL,CODIGO,NOMBRE,APELLIDO,ID_TIPODOC,NRODOC,FECHA_NACIMIENTO,ID_PAIS_NACIMIENTO,SEXO,...,CODIGO_POSTAL,LOCALIDAD,DEPARTAMENTO,PROVINCIA,Unnamed: 0.1,enf_max_grado,prof_adjudicada,EDAD,fallecido_al_corte,año_corte
0,0,10000000,541010896218,MARIA JULIA,VELEZ,1,10896218,1953-07-14,0,F,...,B2800JQG,ZARATE,ZARATE,2.0,762457.0,NaN,1.0,66,False,2020
1,1,10000001,541013388083,MARIA CRISTINA,ANFOLISI,1,13388083,1959-05-05,0,F,...,B2800AYL,ZARATE,ZARATE,2.0,633676.0,NaN,1.0,61,False,2020
2,2,10000002,541005910020,ELSA SUSANA,ORELLANA,1,5910020,1948-05-12,0,F,...,2804,CAMPANA,NaN,2.0,541738.0,NaN,1.0,72,False,2020
3,3,10000003,541012071879,MONICA FLORENCIA,ROBERT,1,12071879,1958-06-04,0,F,...,B2800KIR,ZARATE,ZARATE,2.0,73885.0,NaN,1.0,62,True,2020
4,4,10000003,541012071879,MONICA FLORENCIA,ROBERT,1,12071879,1958-06-04,0,F,...,B2800KIR,ZARATE,ZARATE,2.0,73885.0,NaN,1.0,62,True,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444773,1516543,82000654,541037969493,CAROLINA,SUAU,1,37969493,1993-12-13,200,F,...,C1439FPH,NaN,CIUDAD AUTONOMA DE BS AS,1.0,618441.0,NaN,1.0,26,False,2020
1444774,1516545,82000694,541033225210,DAVID RAMON,SAMUDIO,1,33225210,1987-09-28,200,M,...,NaN,EZEIZA,EZEIZA,2.0,852695.0,NaN,1.0,32,False,2020
1444775,1516546,82000714,541039056466,SOL DANIELA,BUSCIO,1,39056466,1995-05-09,200,F,...,NaN,NaN,MORON,2.0,967634.0,NaN,1.0,25,False,2020
1444776,1516547,82000734,541093441325,ROSA LUZ,FENCO SILVA,1,93441325,1965-07-12,222,F,...,B1752DCR,LOMAS DEL MIRADOR,LA MATANZA,2.0,393848.0,15.0,15.0,54,False,2020
1444777,1516551,82000794,541033497568,JORGE ADRIAN,GUTIERREZ,1,24042388,1987-12-31,200,M,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,32,False,2020

In [83]:
#fecha = pd.to_datetime('2020-06-30')
#anios = 10

#Generamos los periodos deseados
#periodos = pd.date_range(end=fecha, periods=anios, freq=pd.DateOffset(years=1))

#Generamos las columnas deseadas
#for periodo in periodos:
    #Creamos el título de la columna y la creamos con el método assign()
#    col = 'mat_activa_' + str(periodo.year)
    
    #Copiamos la fecha de fallecido en las columnas
#    kwargs = {col : lambda x: x['FECHA_MATRICULA']} #calculo el intervalo de inactividad segun fecha de vigencia
#    df = df.assign(**kwargs)

In [84]:
df

,Unnamed: 0,ID_PROFESIONAL,CODIGO,NOMBRE,APELLIDO,ID_TIPODOC,NRODOC,FECHA_NACIMIENTO,ID_PAIS_NACIMIENTO,SEXO,...,CODIGO_POSTAL,LOCALIDAD,DEPARTAMENTO,PROVINCIA,Unnamed: 0.1,enf_max_grado,prof_adjudicada,EDAD,fallecido_al_corte,año_corte
0,0,10000000,541010896218,MARIA JULIA,VELEZ,1,10896218,1953-07-14,0,F,...,B2800JQG,ZARATE,ZARATE,2.0,762457.0,NaN,1.0,66,False,2020
1,1,10000001,541013388083,MARIA CRISTINA,ANFOLISI,1,13388083,1959-05-05,0,F,...,B2800AYL,ZARATE,ZARATE,2.0,633676.0,NaN,1.0,61,False,2020
2,2,10000002,541005910020,ELSA SUSANA,ORELLANA,1,5910020,1948-05-12,0,F,...,2804,CAMPANA,NaN,2.0,541738.0,NaN,1.0,72,False,2020
3,3,10000003,541012071879,MONICA FLORENCIA,ROBERT,1,12071879,1958-06-04,0,F,...,B2800KIR,ZARATE,ZARATE,2.0,73885.0,NaN,1.0,62,True,2020
4,4,10000003,541012071879,MONICA FLORENCIA,ROBERT,1,12071879,1958-06-04,0,F,...,B2800KIR,ZARATE,ZARATE,2.0,73885.0,NaN,1.0,62,True,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444773,1516543,82000654,541037969493,CAROLINA,SUAU,1,37969493,1993-12-13,200,F,...,C1439FPH,NaN,CIUDAD AUTONOMA DE BS AS,1.0,618441.0,NaN,1.0,26,False,2020
1444774,1516545,82000694,541033225210,DAVID RAMON,SAMUDIO,1,33225210,1987-09-28,200,M,...,NaN,EZEIZA,EZEIZA,2.0,852695.0,NaN,1.0,32,False,2020
1444775,1516546,82000714,541039056466,SOL DANIELA,BUSCIO,1,39056466,1995-05-09,200,F,...,NaN,NaN,MORON,2.0,967634.0,NaN,1.0,25,False,2020
1444776,1516547,82000734,541093441325,ROSA LUZ,FENCO SILVA,1,93441325,1965-07-12,222,F,...,B1752DCR,LOMAS DEL MIRADOR,LA MATANZA,2.0,393848.0,15.0,15.0,54,False,2020
1444777,1516551,82000794,541033497568,JORGE ADRIAN,GUTIERREZ,1,24042388,1987-12-31,200,M,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,32,False,2020

In [85]:
aux_enf = df[df['ID_PROFESION_REFERENCIA'] == 32]

In [86]:
tec_enf = df[df['ID_PROFESION_REFERENCIA'] == 15]

In [87]:
lic_enf = df[df['ID_PROFESION_REFERENCIA'] == 37]

In [88]:
df_enfermeros = pd.concat([lic_enf, tec_enf, aux_enf])

In [89]:
#import gc
#gc.collect()
del df

In [90]:
df_enfermeros['FECHA_NACIMIENTO'] = pd.to_datetime(df_enfermeros['FECHA_NACIMIENTO'])
df_enfermeros['FECHA_TITULO'] = pd.to_datetime(df_enfermeros['FECHA_TITULO'])
df_enfermeros['FECHA_MATRICULA'] = pd.to_datetime(df_enfermeros['FECHA_MATRICULA'])
df_enfermeros['FECHA_FALLECIDO'] = pd.to_datetime(df_enfermeros['FECHA_FALLECIDO'])

In [91]:
df_enfermeros.columns

Index(['Unnamed: 0', 'ID_PROFESIONAL', 'CODIGO', 'NOMBRE', 'APELLIDO',
       'ID_TIPODOC', 'NRODOC', 'FECHA_NACIMIENTO', 'ID_PAIS_NACIMIENTO',
       'SEXO', 'CUIL', 'ID_PROVINCIA_RENAPER', 'PROVINCIA_CMDB',
       'ID_CMDB_PERSONA', 'FECHA_FALLECIDO', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESION_REFERENCIA', 'PROFESION_REFERENCIA',
       'ID_INSTITUCION_FORMADORA', 'DENOMINACION', 'FECHA_TITULO',
       'ID_PROFESIONAL_MATRICULA', 'MATRICULA', 'FECHA_MATRICULA',
       'REMATRICULACION', 'ID_PROVINCIA_MATRICULA', 'PROVINCIA_MATRICULA',
       'ID_SITUACION_MATRICULA', 'COLEGIO_REGISTRA', 'ACTIVO', 'COLEGIO_EMITE',
       'ID_ORIGEN_EMITE', 'ORIGEN_EMITE', 'ID_PROFESIONAL_SANCION',
       'FALLECIDO', 'prov_adjudicada', 'CODIGO_POSTAL', 'LOCALIDAD',
       'DEPARTAMENTO', 'PROVINCIA', 'Unnamed: 0.1', 'enf_max_grado',
       'prof_adjudicada', 'EDAD', 'fallecido_al_corte', 'año_corte'],
      dtype='object')

In [92]:
#df_enfermeros[['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION', 'ID_PROFESIONAL_MATRICULA', 'FECHA_MATRICULA']]

In [93]:
#enf_map = {37:1, 15:2, 32: 3}
#df_enfermeros['enf_max_grado'].replace(enf_map, inplace = True)
#df_enfermeros['ID_PROFESION_REFERENCIA'].replace(enf_map, inplace = True)

In [94]:
df_enfermeros.columns

Index(['Unnamed: 0', 'ID_PROFESIONAL', 'CODIGO', 'NOMBRE', 'APELLIDO',
       'ID_TIPODOC', 'NRODOC', 'FECHA_NACIMIENTO', 'ID_PAIS_NACIMIENTO',
       'SEXO', 'CUIL', 'ID_PROVINCIA_RENAPER', 'PROVINCIA_CMDB',
       'ID_CMDB_PERSONA', 'FECHA_FALLECIDO', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESION_REFERENCIA', 'PROFESION_REFERENCIA',
       'ID_INSTITUCION_FORMADORA', 'DENOMINACION', 'FECHA_TITULO',
       'ID_PROFESIONAL_MATRICULA', 'MATRICULA', 'FECHA_MATRICULA',
       'REMATRICULACION', 'ID_PROVINCIA_MATRICULA', 'PROVINCIA_MATRICULA',
       'ID_SITUACION_MATRICULA', 'COLEGIO_REGISTRA', 'ACTIVO', 'COLEGIO_EMITE',
       'ID_ORIGEN_EMITE', 'ORIGEN_EMITE', 'ID_PROFESIONAL_SANCION',
       'FALLECIDO', 'prov_adjudicada', 'CODIGO_POSTAL', 'LOCALIDAD',
       'DEPARTAMENTO', 'PROVINCIA', 'Unnamed: 0.1', 'enf_max_grado',
       'prof_adjudicada', 'EDAD', 'fallecido_al_corte', 'año_corte'],
      dtype='object')

In [95]:
df_enfermeros= df_enfermeros.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

In [96]:
df_enfermeros

,ID_PROFESIONAL,CODIGO,NOMBRE,APELLIDO,ID_TIPODOC,NRODOC,FECHA_NACIMIENTO,ID_PAIS_NACIMIENTO,SEXO,CUIL,...,prov_adjudicada,CODIGO_POSTAL,LOCALIDAD,DEPARTAMENTO,PROVINCIA,enf_max_grado,prof_adjudicada,EDAD,fallecido_al_corte,año_corte
27449,10020770,541018695486,MARINA ISABEL,MINAYA SANTOS,1,18695486,1956-03-03,222,F,27186954861,...,2.0,NaN,NaN,GENERAL PUEYRREDON,2.0,37.0,37.0,64,False,2020
27476,10020795,541017051281,MARIA ANGELICA,CAMARASA,1,17051281,1965-01-02,200,F,27170512818,...,2.0,NaN,NaN,GENERAL PUEYRREDON,2.0,37.0,37.0,55,False,2020
27483,10020802,541018717993,MARIA MAGDALENA,DOÑATE PALOMAR,1,18717993,1948-02-10,410,F,27187179934,...,2.0,B1602BXD,FLORIDA,VICENTE LOPEZ,2.0,37.0,37.0,72,False,2020
27501,10020818,541006427212,ANA MARIA,KARAS,1,6427212,1950-10-31,200,F,27064272123,...,2.0,B7602FTA,MAR DEL PLATA,GENERAL PUEYRREDON,2.0,37.0,37.0,69,False,2020
27502,10020819,541013998481,MONICA BEATRIZ,CEJAS,1,13998481,1960-09-30,200,F,27139984817,...,2.0,B8001ANL,BAHIA BLANCA,BAHIA BLANCA,2.0,37.0,37.0,59,False,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437896,72016275,541010791206,DORA MARTA,ROJAS,1,10791206,1953-04-21,0,F,27107912067,...,24.0,NaN,SAN MIGUEL DE TUCUMAN,CAPITAL,24.0,32.0,32.0,67,False,2020
1437897,72016276,542005934000,HILDA ROSA,MEDINA,1,5934000,1949-04-05,0,F,27059340005,...,24.0,NaN,LOS RALOS,CRUZ ALTA,24.0,32.0,32.0,71,False,2020
1442263,72020169,541020178379,MARTA SOFIA,SCROCCHI VILLAGRAN,1,20178379,1968-03-24,200,F,27201783793,...,24.0,NaN,SAN MIGUEL DE TUCUMAN,CAPITAL,24.0,32.0,32.0,52,False,2020
1444754,82000253,541033422256,LORENA SOLEDAD,AMARILLA,1,33422256,1988-01-05,200,F,27334222565,...,2.0,B1743FIP,MORENO,MORENO,2.0,15.0,15.0,32,False,2020
1444755,82000253,541033422256,LORENA SOLEDAD,AMARILLA,1,33422256,1988-01-05,200,F,27334222565,...,2.0,B1743FIP,MORENO,MORENO,2.0,15.0,15.0,32,False,2020

In [97]:
subset_enf = df_enfermeros[['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION', 'ID_PROFESIONAL_MATRICULA', 'FECHA_MATRICULA', 'ID_PROVINCIA_MATRICULA', 'FECHA_TITULO','enf_max_grado', 'prov_adjudicada', 'ID_PROFESION_REFERENCIA']]
#, 'mat_activa_2011', 'mat_activa_2012', 'mat_activa_2013',
 #'mat_activa_2014', 'mat_activa_2015', 'mat_activa_2016',
#'mat_activa_2017', 'mat_activa_2018', 'mat_activa_2019',
 #'mat_activa_2020']

In [98]:
subset_enf

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA
27449,10020770,21231474,21343015,1995-07-31,2,NaT,37.0,2.0,37
27476,10020795,21231499,21343040,1996-11-08,2,NaT,37.0,2.0,37
27483,10020802,21231506,21343047,1997-05-09,2,NaT,37.0,2.0,37
27501,10020818,21231523,21343064,1996-03-06,2,NaT,37.0,2.0,37
27502,10020819,21574441,21840797,2010-12-07,2,2010-07-20,37.0,2.0,37
...,...,...,...,...,...,...,...,...,...
1437896,72016275,21154747,21187340,2000-12-15,24,NaT,32.0,24.0,32
1437897,72016276,21154748,21187341,1998-02-27,24,NaT,32.0,24.0,32
1442263,72020169,21598965,21881986,1993-01-01,8,1993-01-01,32.0,24.0,32
1444754,82000253,21624249,22041720,2018-01-25,2,2014-10-01,15.0,2.0,32
1444755,82000253,21624249,21914376,2018-01-24,1,2014-10-01,15.0,2.0,32

In [99]:
subset_enf['FECHA_TITULO_OK'] = subset_enf.sort_values(['FECHA_MATRICULA', 'enf_max_grado'])['FECHA_TITULO'].fillna(subset_enf['FECHA_MATRICULA'])

/tmp/ipykernel_5799/2982756172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_enf['FECHA_TITULO_OK'] = subset_enf.sort_values(['FECHA_MATRICULA', 'enf_max_grado'])['FECHA_TITULO'].fillna(subset_enf['FECHA_MATRICULA'])

In [100]:
subset_enf.sort_values('FECHA_TITULO_OK')[subset_enf.duplicated(['ID_PROFESIONAL', 'ID_PROFESION_REFERENCIA'], keep = False)]

/tmp/ipykernel_5799/3972966251.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  subset_enf.sort_values('FECHA_TITULO_OK')[subset_enf.duplicated(['ID_PROFESIONAL', 'ID_PROFESION_REFERENCIA'], keep = False)]

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK
1139644,40008862,21104435,21122635,1825-01-01,8,NaT,15.0,24.0,32,1825-01-01
1203521,50004587,20563803,21122068,1825-01-01,8,NaT,15.0,8.0,32,1825-01-01
1136782,40006833,21102344,21120470,1825-01-01,8,NaT,15.0,8.0,15,1825-01-01
1136825,40006859,21102370,21120498,1825-01-01,8,NaT,15.0,8.0,15,1825-01-01
1137172,40007080,21102594,21120729,1825-01-01,8,NaT,37.0,2.0,15,1825-01-01
...,...,...,...,...,...,...,...,...,...,...
499546,20236881,20931666,20941666,1995-08-29,1,2094-11-18,37.0,2.0,15,2094-11-18
489856,20227154,20866290,20876290,1995-09-29,1,2095-02-14,37.0,1.0,32,2095-02-14
489857,20227154,20866290,21439429,1995-09-28,2,2095-02-14,37.0,1.0,32,2095-02-14
293608,20072122,20787130,20797130,1996-05-03,1,2096-02-16,37.0,1.0,15,2096-02-16
293610,20072122,20787130,21415648,1996-03-25,2,2096-02-16,37.0,1.0,15,2096-02-16

In [101]:
#subset_enf = subset_enf.drop_duplicates(['ID_PROFESIONAL', 'ID_PROFESION_REFERENCIA'])

In [102]:
subset_enf

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK
27449,10020770,21231474,21343015,1995-07-31,2,NaT,37.0,2.0,37,1995-07-31
27476,10020795,21231499,21343040,1996-11-08,2,NaT,37.0,2.0,37,1996-11-08
27483,10020802,21231506,21343047,1997-05-09,2,NaT,37.0,2.0,37,1997-05-09
27501,10020818,21231523,21343064,1996-03-06,2,NaT,37.0,2.0,37,1996-03-06
27502,10020819,21574441,21840797,2010-12-07,2,2010-07-20,37.0,2.0,37,2010-07-20
...,...,...,...,...,...,...,...,...,...,...
1437896,72016275,21154747,21187340,2000-12-15,24,NaT,32.0,24.0,32,2000-12-15
1437897,72016276,21154748,21187341,1998-02-27,24,NaT,32.0,24.0,32,1998-02-27
1442263,72020169,21598965,21881986,1993-01-01,8,1993-01-01,32.0,24.0,32,1993-01-01
1444754,82000253,21624249,22041720,2018-01-25,2,2014-10-01,15.0,2.0,32,2014-10-01
1444755,82000253,21624249,21914376,2018-01-24,1,2014-10-01,15.0,2.0,32,2014-10-01

In [103]:
subset_enf.columns

Index(['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_MATRICULA', 'ID_PROVINCIA_MATRICULA',
       'FECHA_TITULO', 'enf_max_grado', 'prov_adjudicada',
       'ID_PROFESION_REFERENCIA', 'FECHA_TITULO_OK'],
      dtype='object')

In [104]:
subset_enf

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK
27449,10020770,21231474,21343015,1995-07-31,2,NaT,37.0,2.0,37,1995-07-31
27476,10020795,21231499,21343040,1996-11-08,2,NaT,37.0,2.0,37,1996-11-08
27483,10020802,21231506,21343047,1997-05-09,2,NaT,37.0,2.0,37,1997-05-09
27501,10020818,21231523,21343064,1996-03-06,2,NaT,37.0,2.0,37,1996-03-06
27502,10020819,21574441,21840797,2010-12-07,2,2010-07-20,37.0,2.0,37,2010-07-20
...,...,...,...,...,...,...,...,...,...,...
1437896,72016275,21154747,21187340,2000-12-15,24,NaT,32.0,24.0,32,2000-12-15
1437897,72016276,21154748,21187341,1998-02-27,24,NaT,32.0,24.0,32,1998-02-27
1442263,72020169,21598965,21881986,1993-01-01,8,1993-01-01,32.0,24.0,32,1993-01-01
1444754,82000253,21624249,22041720,2018-01-25,2,2014-10-01,15.0,2.0,32,2014-10-01
1444755,82000253,21624249,21914376,2018-01-24,1,2014-10-01,15.0,2.0,32,2014-10-01

In [105]:
fecha_aux = subset_enf.loc[subset_enf['ID_PROFESION_REFERENCIA'] == 32][['ID_PROFESIONAL', 'FECHA_TITULO_OK']].drop_duplicates('ID_PROFESIONAL').rename({'FECHA_TITULO_OK':'fecha_aux_ok'}, axis = 1)

In [106]:
fecha_aux['dummie_aux'] = True

In [107]:
fecha_tec = subset_enf.loc[subset_enf['ID_PROFESION_REFERENCIA'] == 15][['ID_PROFESIONAL', 'FECHA_TITULO_OK']].drop_duplicates('ID_PROFESIONAL').rename({'FECHA_TITULO_OK':'fecha_tec_ok'}, axis = 1)
fecha_tec['dummie_tec'] = True

In [108]:
fecha_lic = subset_enf.loc[subset_enf['ID_PROFESION_REFERENCIA'] == 37][['ID_PROFESIONAL', 'FECHA_TITULO_OK']].drop_duplicates('ID_PROFESIONAL').rename({'FECHA_TITULO_OK':'fecha_lic_ok'}, axis = 1)
fecha_lic['dummie_lic'] = True

In [109]:
df_fechas_enf = [subset_enf, fecha_aux, fecha_tec, fecha_lic] #compilo para hacer el multiple DF

In [110]:
from functools import reduce
subset_enf = reduce(lambda left,right: pd.merge(left,right,on=['ID_PROFESIONAL'],
                                            how='left'), df_fechas_enf)

In [111]:
subset_enf

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK,fecha_aux_ok,dummie_aux,fecha_tec_ok,dummie_tec,fecha_lic_ok,dummie_lic
0,10020770,21231474,21343015,1995-07-31,2,NaT,37.0,2.0,37,1995-07-31,NaT,NaN,NaT,NaN,1995-07-31,True
1,10020795,21231499,21343040,1996-11-08,2,NaT,37.0,2.0,37,1996-11-08,NaT,NaN,NaT,NaN,1996-11-08,True
2,10020802,21231506,21343047,1997-05-09,2,NaT,37.0,2.0,37,1997-05-09,NaT,NaN,NaT,NaN,1997-05-09,True
3,10020818,21231523,21343064,1996-03-06,2,NaT,37.0,2.0,37,1996-03-06,NaT,NaN,NaT,NaN,1996-03-06,True
4,10020819,21574441,21840797,2010-12-07,2,2010-07-20,37.0,2.0,37,2010-07-20,1986-08-30,True,2007-02-22,True,2010-07-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453094,72016275,21154747,21187340,2000-12-15,24,NaT,32.0,24.0,32,2000-12-15,2000-12-15,True,NaT,NaN,NaT,NaN
453095,72016276,21154748,21187341,1998-02-27,24,NaT,32.0,24.0,32,1998-02-27,1998-02-27,True,NaT,NaN,NaT,NaN
453096,72020169,21598965,21881986,1993-01-01,8,1993-01-01,32.0,24.0,32,1993-01-01,1993-01-01,True,NaT,NaN,NaT,NaN
453097,82000253,21624249,22041720,2018-01-25,2,2014-10-01,15.0,2.0,32,2014-10-01,2014-10-01,True,NaT,NaN,NaT,NaN
453098,82000253,21624249,21914376,2018-01-24,1,2014-10-01,15.0,2.0,32,2014-10-01,2014-10-01,True,NaT,NaN,NaT,NaN

In [112]:
subset_enf['dummie_aux'] = subset_enf['dummie_aux'].fillna(False)
subset_enf['dummie_tec'] = subset_enf['dummie_tec'].fillna(False)
subset_enf['dummie_lic'] = subset_enf['dummie_lic'].fillna(False)

In [113]:
subset_enf['niveles_enf'] = subset_enf[['dummie_aux', 'dummie_tec', 'dummie_lic']].sum(axis = 1)

In [114]:
subset_enf

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_MATRICULA,ID_PROVINCIA_MATRICULA,FECHA_TITULO,enf_max_grado,prov_adjudicada,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK,fecha_aux_ok,dummie_aux,fecha_tec_ok,dummie_tec,fecha_lic_ok,dummie_lic,niveles_enf
0,10020770,21231474,21343015,1995-07-31,2,NaT,37.0,2.0,37,1995-07-31,NaT,False,NaT,False,1995-07-31,True,1
1,10020795,21231499,21343040,1996-11-08,2,NaT,37.0,2.0,37,1996-11-08,NaT,False,NaT,False,1996-11-08,True,1
2,10020802,21231506,21343047,1997-05-09,2,NaT,37.0,2.0,37,1997-05-09,NaT,False,NaT,False,1997-05-09,True,1
3,10020818,21231523,21343064,1996-03-06,2,NaT,37.0,2.0,37,1996-03-06,NaT,False,NaT,False,1996-03-06,True,1
4,10020819,21574441,21840797,2010-12-07,2,2010-07-20,37.0,2.0,37,2010-07-20,1986-08-30,True,2007-02-22,True,2010-07-20,True,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453094,72016275,21154747,21187340,2000-12-15,24,NaT,32.0,24.0,32,2000-12-15,2000-12-15,True,NaT,False,NaT,False,1
453095,72016276,21154748,21187341,1998-02-27,24,NaT,32.0,24.0,32,1998-02-27,1998-02-27,True,NaT,False,NaT,False,1
453096,72020169,21598965,21881986,1993-01-01,8,1993-01-01,32.0,24.0,32,1993-01-01,1993-01-01,True,NaT,False,NaT,False,1
453097,82000253,21624249,22041720,2018-01-25,2,2014-10-01,15.0,2.0,32,2014-10-01,2014-10-01,True,NaT,False,NaT,False,1
453098,82000253,21624249,21914376,2018-01-24,1,2014-10-01,15.0,2.0,32,2014-10-01,2014-10-01,True,NaT,False,NaT,False,1

In [115]:
subset_enf_unico_nivel = subset_enf[subset_enf['niveles_enf']==1]

In [116]:
subset_enf_nivel_superior =  subset_enf[subset_enf['niveles_enf']>1]

In [117]:
subset_enf_nivel_superior[['fecha_aux_ok','fecha_tec_ok','fecha_lic_ok']] = subset_enf_nivel_superior[['fecha_aux_ok','fecha_tec_ok','fecha_lic_ok']].ffill(axis = 1).bfill(axis = 1)

/home/oblitterator/.local/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

# Auxiliares

In [118]:
fecha = pd.to_datetime('2020-06-30')
anios = 10

#Generamos los periodos deseados
periodos = pd.date_range(end=fecha, periods=anios, freq=pd.DateOffset(years=1))

#Generamos las columnas deseadas
for periodo in periodos:
    #Creamos el título de la columna y la creamos con el método assign()
    col = 'aux_' + str(periodo.year)
    
    #Copiamos la fecha de fallecido en las columnas
    kwargs = {col : lambda x: ( 
        (x['fecha_aux_ok'] == x['FECHA_TITULO_OK']) & (x['fecha_aux_ok'] < periodo) &
         (((x['dummie_tec'] == False)| ( x['dummie_tec'] == True) & (x['fecha_tec_ok'] > periodo)) &
             ((x['dummie_lic'] == False)| ( x['dummie_lic'] == True) & (x['fecha_lic_ok'] > periodo)))
                              )
             } #calculo el intervalo de inactividad segun fecha de vigencia
    subset_enf_nivel_superior = subset_enf_nivel_superior.assign(**kwargs)

# Técnicos

In [119]:
fecha = pd.to_datetime('2020-06-30')
anios = 10

#Generamos los periodos deseados
periodos = pd.date_range(end=fecha, periods=anios, freq=pd.DateOffset(years=1))

#Generamos las columnas deseadas
for periodo in periodos:
    #Creamos el título de la columna y la creamos con el método assign()
    col = 'tec_' + str(periodo.year)
    
    #Copiamos la fecha de fallecido en las columnas
    kwargs = {col : lambda x: ( (x['fecha_tec_ok'] == x['FECHA_TITULO_OK']) & (x['fecha_tec_ok'] < periodo) &
                                ((x['dummie_lic'] == False)| ( x['dummie_lic'] == True) & (x['fecha_lic_ok'] > periodo)))
             } #calculo el intervalo de inactividad segun fecha de vigencia
    subset_enf_nivel_superior = subset_enf_nivel_superior.assign(**kwargs)

# Licenciados

In [120]:
fecha = pd.to_datetime('2020-06-30')
anios = 10

#Generamos los periodos deseados
periodos = pd.date_range(end=fecha, periods=anios, freq=pd.DateOffset(years=1))

#Generamos las columnas deseadas
for periodo in periodos:
    #Creamos el título de la columna y la creamos con el método assign()
    col = 'lic_' + str(periodo.year)
    
    #Copiamos la fecha de fallecido en las columnas
    kwargs = {col : lambda x: ((x['fecha_lic_ok'] == x['FECHA_TITULO_OK']) &
                               (x['fecha_lic_ok'] < periodo) & (
                                x['dummie_lic'] == True)
                              )} #calculo el intervalo de inactividad segun fecha de vigencia
    subset_enf_nivel_superior = subset_enf_nivel_superior.assign(**kwargs)

## Ejemplos para chequear

In [121]:
subset_enf_nivel_superior.loc[subset_enf_nivel_superior['ID_PROFESIONAL'] == 72016253][['fecha_aux_ok','fecha_tec_ok','fecha_lic_ok','ID_PROFESION_REFERENCIA','FECHA_TITULO_OK','aux_2012','tec_2011', 'tec_2012', 'tec_2013', 'tec_2020','lic_2013', 'lic_2014','lic_2016']]

,fecha_aux_ok,fecha_tec_ok,fecha_lic_ok,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK,aux_2012,tec_2011,tec_2012,tec_2013,tec_2020,lic_2013,lic_2014,lic_2016
286197,2011-07-06,2012-09-04,2012-09-04,15,2012-09-04,False,False,False,True,True,False,False,False
453083,2011-07-06,2012-09-04,2012-09-04,32,2011-07-06,True,False,False,False,False,False,False,False

In [122]:
subset_enf_nivel_superior.loc[subset_enf_nivel_superior['ID_PROFESIONAL'] == 10020847][['dummie_lic','fecha_aux_ok', 'fecha_tec_ok', 'fecha_lic_ok','ID_PROFESION_REFERENCIA','FECHA_TITULO_OK','aux_2011','aux_2012', 'aux_2013','tec_2011', 'tec_2012', 'tec_2013', 'tec_2020','lic_2013', 'lic_2014','lic_2016']]

,dummie_lic,fecha_aux_ok,fecha_tec_ok,fecha_lic_ok,ID_PROFESION_REFERENCIA,FECHA_TITULO_OK,aux_2011,aux_2012,aux_2013,tec_2011,tec_2012,tec_2013,tec_2020,lic_2013,lic_2014,lic_2016
8,True,2009-10-05,2011-08-30,2014-05-08,37,2014-05-08,False,False,False,False,False,False,False,False,True,True
9,True,2009-10-05,2011-08-30,2014-05-08,37,2014-05-08,False,False,False,False,False,False,False,False,True,True
49892,True,2009-10-05,2011-08-30,2014-05-08,15,2011-08-30,False,False,False,False,True,True,False,False,False,False
288796,True,2009-10-05,2011-08-30,2014-05-08,32,2009-10-05,True,False,False,False,False,False,False,False,False,False

In [123]:
aux_niv_sup = subset_enf_nivel_superior.loc[subset_enf_nivel_superior['ID_PROFESION_REFERENCIA'] == 32][['ID_PROFESIONAL_MATRICULA','aux_2011', 'aux_2012', 'aux_2013',
       'aux_2014', 'aux_2015', 'aux_2016', 'aux_2017', 'aux_2018', 'aux_2019',
       'aux_2020']]

tec_niv_sup = subset_enf_nivel_superior.loc[subset_enf_nivel_superior['ID_PROFESION_REFERENCIA'] == 15][['ID_PROFESIONAL_MATRICULA','tec_2011', 'tec_2012', 'tec_2013', 'tec_2014', 'tec_2015',
       'tec_2016', 'tec_2017', 'tec_2018', 'tec_2019', 'tec_2020']]

lic_niv_sup = subset_enf_nivel_superior.loc[subset_enf_nivel_superior['ID_PROFESION_REFERENCIA'] == 37][['ID_PROFESIONAL_MATRICULA','lic_2011',
       'lic_2012', 'lic_2013', 'lic_2014', 'lic_2015', 'lic_2016', 'lic_2017',
       'lic_2018', 'lic_2019', 'lic_2020']]

In [124]:
subset_enf_nivel_superior.columns

Index(['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_MATRICULA', 'ID_PROVINCIA_MATRICULA',
       'FECHA_TITULO', 'enf_max_grado', 'prov_adjudicada',
       'ID_PROFESION_REFERENCIA', 'FECHA_TITULO_OK', 'fecha_aux_ok',
       'dummie_aux', 'fecha_tec_ok', 'dummie_tec', 'fecha_lic_ok',
       'dummie_lic', 'niveles_enf', 'aux_2011', 'aux_2012', 'aux_2013',
       'aux_2014', 'aux_2015', 'aux_2016', 'aux_2017', 'aux_2018', 'aux_2019',
       'aux_2020', 'tec_2011', 'tec_2012', 'tec_2013', 'tec_2014', 'tec_2015',
       'tec_2016', 'tec_2017', 'tec_2018', 'tec_2019', 'tec_2020', 'lic_2011',
       'lic_2012', 'lic_2013', 'lic_2014', 'lic_2015', 'lic_2016', 'lic_2017',
       'lic_2018', 'lic_2019', 'lic_2020'],
      dtype='object')

In [125]:
aux_niv_sup = pd.merge(df_activos.loc[df_activos['ID_PROFESION_REFERENCIA'] == 32], aux_niv_sup, on = 'ID_PROFESIONAL_MATRICULA')

aux_niv_sup

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_NACIMIENTO,FECHA_MATRICULA,prof_adjudicada,ID_PROFESION_REFERENCIA,enf_max_grado,prov_adjudicada,SEXO,...,aux_2011,aux_2012,aux_2013,aux_2014,aux_2015,aux_2016,aux_2017,aux_2018,aux_2019,aux_2020
0,10003001,21246702,21367776,1963-05-25,1982-04-30,15.0,32,15.0,2.0,M,...,False,False,False,False,False,False,False,False,False,False
1,10020819,21258450,21382144,1960-09-30,1986-08-30,37.0,32,37.0,2.0,F,...,False,False,False,False,False,False,False,False,False,False
2,10020847,21298972,21445326,1978-02-25,2010-01-19,37.0,32,37.0,2.0,F,...,True,False,False,False,False,False,False,False,False,False
3,10020857,21373266,21553471,1947-09-12,1986-07-21,37.0,32,37.0,2.0,F,...,False,False,False,False,False,False,False,False,False,False
4,10020890,21246100,21366944,1944-01-10,1976-11-17,37.0,32,37.0,2.0,F,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42163,72016212,21154651,21187228,1987-10-22,2010-12-09,15.0,32,15.0,24.0,F,...,True,True,False,False,False,False,False,False,False,False
42164,72016231,21154671,21187249,1976-03-01,2011-03-02,15.0,32,15.0,24.0,F,...,True,True,True,True,False,False,False,False,False,False
42165,72016253,21154693,21187273,1973-02-12,2011-07-06,15.0,32,15.0,24.0,M,...,False,True,False,False,False,False,False,False,False,False
42166,72016257,21154697,21187277,1974-10-24,2008-09-15,15.0,32,15.0,24.0,F,...,True,True,True,True,True,True,True,False,False,False
42167,72016262,21154702,21187282,1968-05-05,2006-07-04,15.0,32,15.0,24.0,F,...,True,False,False,False,False,False,False,False,False,False

In [126]:
tec_niv_sup = pd.merge(df_activos.loc[df_activos['ID_PROFESION_REFERENCIA'] == 15], tec_niv_sup, on = 'ID_PROFESIONAL_MATRICULA')

In [127]:
lic_niv_sup = pd.merge(df_activos.loc[df_activos['ID_PROFESION_REFERENCIA'] == 37], lic_niv_sup, on = 'ID_PROFESIONAL_MATRICULA')

In [128]:
lic_niv_sup.columns

Index(['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_NACIMIENTO', 'FECHA_MATRICULA',
       'prof_adjudicada', 'ID_PROFESION_REFERENCIA', 'enf_max_grado',
       'prov_adjudicada', 'SEXO', 'EDAD', 'DEPARTAMENTO', 'activo_2011',
       'activo_2012', 'activo_2013', 'activo_2014', 'activo_2015',
       'activo_2016', 'activo_2017', 'activo_2018', 'activo_2019',
       'activo_2020', 'lic_2011', 'lic_2012', 'lic_2013', 'lic_2014',
       'lic_2015', 'lic_2016', 'lic_2017', 'lic_2018', 'lic_2019', 'lic_2020'],
      dtype='object')

In [129]:
aux_niv_sup.columns

Index(['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_NACIMIENTO', 'FECHA_MATRICULA',
       'prof_adjudicada', 'ID_PROFESION_REFERENCIA', 'enf_max_grado',
       'prov_adjudicada', 'SEXO', 'EDAD', 'DEPARTAMENTO', 'activo_2011',
       'activo_2012', 'activo_2013', 'activo_2014', 'activo_2015',
       'activo_2016', 'activo_2017', 'activo_2018', 'activo_2019',
       'activo_2020', 'aux_2011', 'aux_2012', 'aux_2013', 'aux_2014',
       'aux_2015', 'aux_2016', 'aux_2017', 'aux_2018', 'aux_2019', 'aux_2020'],
      dtype='object')

In [130]:
col_actividad = {0:'activo_2011',1: 'activo_2012', 2: 'activo_2013',
            3: 'activo_2014',4: 'activo_2015', 5: 'activo_2016',
                        6: 'activo_2017', 7: 'activo_2018', 8: 'activo_2019',
                                    9: 'activo_2020'}

In [131]:
aux_niv_sup = pd.concat([aux_niv_sup[['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_NACIMIENTO', 'FECHA_MATRICULA', 'prof_adjudicada',
       'ID_PROFESION_REFERENCIA', 'enf_max_grado', 'prov_adjudicada', 'SEXO',
       'EDAD', 'DEPARTAMENTO']], pd.DataFrame(np.array(aux_niv_sup.iloc[:,-20:-10])*np.array(aux_niv_sup.iloc[:,-10:]))], axis = 1).rename(col_actividad, axis = 1)

In [132]:
tec_niv_sup = pd.concat([tec_niv_sup[['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA','FECHA_NACIMIENTO', 'FECHA_MATRICULA', 'prof_adjudicada',
       'ID_PROFESION_REFERENCIA', 'enf_max_grado', 'prov_adjudicada', 'SEXO',
       'EDAD', 'DEPARTAMENTO']], pd.DataFrame(np.array(tec_niv_sup.iloc[:,-20:-10])*np.array(tec_niv_sup.iloc[:,-10:]))], axis = 1).rename(col_actividad, axis = 1)

In [133]:
lic_niv_sup = pd.concat([lic_niv_sup[['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_MATRICULA', 'FECHA_NACIMIENTO', 'prof_adjudicada',
       'ID_PROFESION_REFERENCIA', 'enf_max_grado', 'prov_adjudicada', 'SEXO',
       'EDAD', 'DEPARTAMENTO']], pd.DataFrame(np.array(lic_niv_sup.iloc[:,-20:-10])*np.array(lic_niv_sup.iloc[:,-10:]))], axis = 1).rename(col_actividad, axis = 1)

In [134]:
subset_enf_nivel_superior = pd.concat([aux_niv_sup, tec_niv_sup, lic_niv_sup])

In [135]:
subset_enf_nivel_superior['nivel_sup'] = True

In [136]:
df_activos = pd.merge(df_activos, subset_enf_nivel_superior[['ID_PROFESIONAL_PROFESION', 'nivel_sup']], how = 'left')

df_activos = df_activos.loc[df_activos['nivel_sup'].isnull()].drop(['nivel_sup'], axis = 1)

In [137]:
df_activos.shape

(1276680, 22)

In [138]:
subset_enf_nivel_superior.drop(['nivel_sup'], axis = 1, inplace = True)

# Armado del DF Final

In [139]:
df_final = pd.concat([df_activos, subset_enf_nivel_superior])

In [140]:
df_final = df_final.drop_duplicates('ID_PROFESIONAL_PROFESION')

In [141]:
prof_ref = pd.read_csv('prof_referencia.csv', encoding = 'latin', sep = ';')

In [142]:
df_final.columns

Index(['ID_PROFESIONAL', 'ID_PROFESIONAL_PROFESION',
       'ID_PROFESIONAL_MATRICULA', 'FECHA_NACIMIENTO', 'FECHA_MATRICULA',
       'prof_adjudicada', 'ID_PROFESION_REFERENCIA', 'enf_max_grado',
       'prov_adjudicada', 'SEXO', 'EDAD', 'DEPARTAMENTO', 'activo_2011',
       'activo_2012', 'activo_2013', 'activo_2014', 'activo_2015',
       'activo_2016', 'activo_2017', 'activo_2018', 'activo_2019',
       'activo_2020'],
      dtype='object')

In [143]:
#Obtenemos los datos y generamos el dataframe
#Fecha base y periodo
fecha = pd.to_datetime('2020-06-30')
anios = 10

#Generamos los periodos deseados
periodos = pd.date_range(end=fecha, periods=anios, freq=pd.DateOffset(years=1))

def age(birth_date):
    today = periodo
    y = today.year - birth_date.year
    if today.month < birth_date.month or today.month == birth_date.month and today.day < birth_date.day:
        y -= 1
    return y

#Generamos las columnas deseadas
for periodo in periodos:
    #Creamos el título de la columna y la creamos con el método assign()
    col = 'edad_' + str(periodo.year)
    #Copiamos la fecha de fallecido en las columnas
    kwargs = {col : lambda x: pd.to_datetime(x['FECHA_NACIMIENTO'])}
    df_final = df_final.assign(**kwargs)
    
    #Sustituímos la fecha de fallecido con True o False dependiendo del periodo(Fecha de corte de la columna)
    df_final[col] = df_final[col].apply(age)
    labels = ['-24', '25-29', '30-34', '35-39','40-44','45-49','50-55','54-59','60-64', '+65']
    bins = [0, 24, 29, 34, 39, 44,49,54, 59, 64, 1000]
    df_final[col] = pd.cut(df_final[col],bins, labels = labels,include_lowest = True)

In [144]:
df_final

,ID_PROFESIONAL,ID_PROFESIONAL_PROFESION,ID_PROFESIONAL_MATRICULA,FECHA_NACIMIENTO,FECHA_MATRICULA,prof_adjudicada,ID_PROFESION_REFERENCIA,enf_max_grado,prov_adjudicada,SEXO,...,edad_2011,edad_2012,edad_2013,edad_2014,edad_2015,edad_2016,edad_2017,edad_2018,edad_2019,edad_2020
0,10000000,21390279,21580301,1953-07-14,1988-03-23,1.0,1,NaN,2.0,F,...,54-59,54-59,54-59,60-64,60-64,60-64,60-64,60-64,+65,+65
1,10000001,21390303,21580336,1959-05-05,1988-03-23,1.0,1,NaN,2.0,F,...,50-55,50-55,50-55,54-59,54-59,54-59,54-59,54-59,60-64,60-64
2,10000002,200007,21162545,1948-05-12,1980-12-26,1.0,1,NaN,2.0,F,...,60-64,60-64,+65,+65,+65,+65,+65,+65,+65,+65
3,10000003,200008,21693334,1958-06-04,1982-08-10,1.0,1,NaN,2.0,F,...,50-55,50-55,54-59,54-59,54-59,54-59,54-59,60-64,60-64,60-64
6,10000005,21389818,21578349,1955-12-22,1988-04-09,1.0,1,NaN,2.0,F,...,54-59,54-59,54-59,54-59,54-59,60-64,60-64,60-64,60-64,60-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44046,72017690,21457702,21681171,1956-01-07,2017-03-16,37.0,37,37.0,24.0,F,...,54-59,54-59,54-59,54-59,54-59,60-64,60-64,60-64,60-64,60-64
44047,72017972,21490186,21721246,1988-06-04,2017-11-15,37.0,37,37.0,24.0,M,...,-24,-24,25-29,25-29,25-29,25-29,25-29,30-34,30-34,30-34
44048,72018799,21558839,21816703,1994-09-20,2019-10-03,37.0,37,37.0,24.0,F,...,-24,-24,-24,-24,-24,-24,-24,-24,-24,25-29
44049,72019122,21620106,21909507,1989-03-16,2018-07-31,37.0,37,37.0,24.0,F,...,-24,-24,-24,25-29,25-29,25-29,25-29,25-29,30-34,30-34
44050,72020978,21565325,21825718,1991-09-19,2020-01-06,37.0,37,37.0,10.0,F,...,-24,-24,-24,-24,-24,-24,25-29,25-29,25-29,25-29

In [145]:
df_final.to_csv('df_para_cnps.csv')

In [146]:
#df_final.groupby(['ID_PROFESION_REFERENCIA', 'SEXO', 'getario'])[['activo_2011',
#                                                      'activo_2012',
#                                                      'activo_2013',
#                                                      'activo_2014',
#                                                      'activo_2015',
#                                                      'activo_2016',
#                                                      'activo_2017',
#                                                      'activo_2018',
#                                                      'activo_2019',
#                                                      'activo_2020']].sum().reset_index()#.to_csv('profesionales_final.csv')

In [147]:
pd.merge(prof_ref, prof_grup, how = 'left').fillna(0).to_csv('profesionales_final.csv')

NameError: name 'prof_grup' is not defined